body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('pexels-maciasu-x-555667329-16731949.jpg') no-repeat center center/cover;
    font-family: 'Arial', sans-serif;
}

.page-title {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    color: #FF8800; /* Neon Orange */
}


.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e0e0e0;
}

.zero {
    grid-column: span 2;
}
